<div class="panel panel-primary">
    <div class="panel panel-body">
        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead style="background-color: burlywood">
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>
                            <div class="img-responsive">
                                <img [src]="product.imageUrl" alt="" [title]="product.productName"
                                    [ngStyle]="{'margin':applyStyle===true?'2px':'0px'} && {'width':applyStyle===true?'50px':'0px'}">
                            </div>
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>
                            {{ product.price }}</td>

                        <td>{{ product.starRating }}</td>
                        <td>
                            <button class="btn btn-danger">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>