<div class='panel panel-primary' *ngIf='contact'>

    <div class='panel-heading' style='font-size:large' [routerLink]="['/contacts/update',contact.phone]">
        {{pageTitle + ': ' + (contact.name|uppercase) }}
        <button class='btn btn-primary' style='width:80px;float:right'>
            Edit
        </button>
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>{{contact.name|uppercase}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Email:</div>
                    <div class='col-md-6'>{{contact.email|lowercase}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Phone:</div>
                    <div class='col-md-6'>{{contact.phone}}</div>
                </div>
            </div>
        </div>

        <!-- <div class='panel-footer' routerLink='/contacts/show'> -->
        <div class='panel-footer'>
            <a class='btn btn-default' (click)='goBack()' style='width:80px'>
                <i class='glyphicon glyphicon-chevron-left'></i> Back
            </a>
        </div>
    </div>

</div>